@import "reset.css";

/* components */
@import "components/menu.css";
@import "components/side-bar.css";
@import "components/main-contents.css";
@import "components/visible-menu.css";
@import "components/serve-content.css";

* {
  box-sizing: border-box;
}
body {
  background-color: #ececec;
  font-family: sans-serif;
  height: 200vh;
}
main {
  position: relative;
}
