.main__main {
  display: flex;
  justify-content: center;
}
.main__main-screen {
  width: 70%;
  height: 1000px;
  background-color: white;
  display: flex;
}

.main__main-content {
  width: 65%;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.main__main-sides {
  width: 35%;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.main__main-content__container {
  height: 500px;
  width: 400%;
  display: flex;
  float: left;
  transition: all ease-in-out 0.5s;
}
.main__main-content__container div {
  width: 25%;
}
.main__main-content__container div img {
  width: 100%;
  height: 500px;
}
.main__main-sides {
  display: flex;
  flex-direction: column;
}

.main__main-sides__top {
  height: 30%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.main__main-sides__bottom {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 70%;
  width: 100%;
}

.main__main-sides__radioes {
  display: none;
}
.main__main-sides__nav {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.main__main-sides__bottom .nav-btn {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.4);
}
.main__main-sides__bottom__auto-btn {
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.main__main-sides__bottom__auto-btn div {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
