.main__menu ul li img {
  width: 120px;
  height: 110px;
  cursor: pointer;
}
.main__menu ul li img:hover {
  opacity: 0.7;
}

.main__menu {
  margin-top: left;
  display: flex;
  justify-content: center;
  margin-bottom: 74px;
}
.main__menu ul {
  position: relative;
  width: 70%;
  display: flex;
  align-items: center;
  background-color: white;
}

.main__menu ul li {
  margin-left: 50px;
}

.main__menu ul li:nth-child(2),
.main__menu ul li:nth-child(3),
.main__menu ul li:nth-child(4) {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 600;
}
.main__menu ul li form {
  display: flex;
}
.main__menu ul li form input {
  background-color: transparent;
  border: none;
  width: 80%;
  height: 30px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.9);
}

.main__menu ul li form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.main__menu ul li form {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.main__menu ul li form i {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.4);
}
.main__menu ul li:last-child {
  position: absolute;
  right: 5%;
}
